<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Handle</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
    </head>
    <body>
        <header>
            <nav class="nav">
                <ul class="nav__ul">
                    <li class="nav__ul__li"><a class="nav__ul__li__a {{classActiveHistorial}}" href="http://localhost:8080/productos/historial">Historial</a></li>
                    <li class="nav__ul__li"><a class="nav__ul__li__a {{classActiveProductos}}" href="http://localhost:8080/productos">Formulario</a></li>
                </ul>
            </nav>
        </header>
        {{{body}}}
    </body>
</html>