<section class="sectionProductos">
    <h1 class="titleH1">Historial De productos</h1>
    <article class="sectionProductos__container">
        <% listaDeProductos.forEach(element => { %>
            <div class="unProducto">
                <h2 class="unProducto__title"> <%= element.title %></h2>
                <div class="unProducto__contenedorImg">
                    <img class="unProducto__contenedorImg__img" src=<%= element.thumbnail %>/>
                </div>
                <p class="unProducto__price"><%= element.price %>$</p>
            </div>
        <% }) %>
    </article>
</section>