extends ../index.pug 

block content
    section.sectionForm
        h1.titleH1="Agregar producto"
        form.form(action="productos" method="post")
            ul.form__ul
                li.form__ul__li
                    label.form__ul__li__label(for="titulo")="Titulo:"
                    input.form__ul__li__input(type="text" id="titulo" name="title" required)
                li.form__ul__li
                    label.form__ul__li__label(for="precio")="Precio:"
                    input.form__ul__li__input(type="number" id="precio" name="price" required)
                li.form__ul__li
                    label.form__ul__li__label(for="img")="thumbnail:"
                    input.form__ul__li__input(type="text" id="img" name="thumbnail" required)
            input.form__button(type="submit")