extends ../index.pug 

block content
    section.sectionProductos
        h1.titleH1="Historial De productos"
        article.sectionProductos__container
            each item in listaDeProductos
                div.unProducto
                    h2.unProducto__title=item.title
                    div.unProducto__contenedorImg
                        img.unProducto__contenedorImg__img(src=item.thumbnail)
                    p.unProducto__price=item.price+"$"