<section class="sectionForm">
    <h1 class="titleH1">Agregar producto</h1>
    <form action="productos" method="post" class="form">
        <ul class="form__ul">
            <li class="form__ul__li">
                <label class="form__ul__li__label" for="titulo">Titulo:</label>
                <input class="form__ul__li__input" type="text" id="titulo" name="title"required >
            </li>
            <li class="form__ul__li">
                <label class="form__ul__li__label" for="precio">Precio:</label>
                <input class="form__ul__li__input" type="number" id="precio" name="price" required >
            </li>
            <li class="form__ul__li">
                <label class="form__ul__li__label" for="img">thumbnail:</label>
                <input class="form__ul__li__input" type="text" id="img" name="thumbnail" required>
            </li>
        </ul>
        <input class="form__button" type="submit">
    </form>
</section>