html(lang="es")
    head
        meta(charset="utf-8")
        title=Handle
        link(rel="stylesheet" type="text/css" href="../css/style.css")
    body
        header
            nav(class="nav")
                ul(class="nav__ul")
                    li(class="nav__ul__li")
                        a(class=`nav__ul__li__a ${classActiveHistorial}` href="http://localhost:8080/productos/historial")="Historial"
                    li(class="nav__ul__li")
                        a(class=`nav__ul__li__a ${classActiveProductos}` href="http://localhost:8080/productos")="Formulario"
        block content