.nav__ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.nav__ul__li__a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 1px solid purple;
    border-radius: 5px;
    font-size: 2rem;
    padding: 10px;
}

.buttonActive{
    background-color: rgb(0, 0, 0);
    color: white;
}




.titleH1{
    text-align: center;
    font-size: 2rem;
}


/*css historial*/
.sectionProductos__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.unProducto{
    border: 1px solid black;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unProducto__title{
    text-align: center;
    margin: 10px;
    font-size: 1.7rem;
}

.unProducto__contenedorImg{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}

.unProducto__contenedorImg__img{
    max-width: 100%;
    height: 100%;
}

/*css Formulario*/
.sectionForm{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.form{
    border: 1px solid black;
    width: 300px;
}

.form__ul{
    padding: 12px;
}

.form__ul__li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form__button{
    display: flex;
    margin: 10px auto;
}
/*css tabla*/
.tabla{
   margin: 0 auto;
}

.tabla__img{
    height: 50px;
}

.tabla__tituloDeLaTabla{
    font-size: 2rem;
}

.tabla__th{
    background-color: black;
    color: white;
    width: 300px;
}

/*Css chat*/
.chat{
    width: 1160px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensajes{
    border: 1px solid black;
    height: 400px;
    width: 1000px;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.unMensaje{
    max-width: 600px;
    min-width: 400px;
    margin: 20px;
    padding: 2px 10px;
    background-color: rgb(189 225 255);
    border-radius: 6px;
    position: relative;
    display: inline-block
}

.unMensaje::before{
    content: '';
    position: absolute;
    width: 30px; 
    height: 30px;
    background-color: inherit;
    transform: rotate(45deg);
    margin-top: -5px;
    z-index: -1;
    top: 0;
    left: -10px;
    bottom: 0;
    margin: auto;
}

.datosDelMensaje{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.datosDelMensaje p{
    overflow-wrap: anywhere; 
}

.unMensaje2{
    max-width: 600px;
    min-width: 400px;
    margin: 20px 29px 20px auto;
    padding: 2px 10px;
    background-color: #c5c5c5;
    border-radius: 6px;
    position: relative;
    display: inline-block
}

.unMensaje2::before{
    content: '';
    position: absolute;
    width: 30px; 
    height: 30px;
    background-color: inherit;
    transform: rotate(45deg);
    margin-top: -5px;
    z-index: -1;
    top: 0;
    right: -10px;
    bottom: 0;
    margin: auto;
}

.chatEmail{
    color: blue;
    font-weight: bolder;
}

.chatHora{
    color: brown;
}

.chatMensaje{
    color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.chat-form__ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-form__ul__li__input{
    width: 300px;
}

.areaDeTexto{
    width: 800px;
    max-width: 1000px;
    height: 100px;
}